geopandas==1.0.1
matplotlib==3.9.2
numpy==2.1.1
odc-geo==0.4.8
odc-stac==0.3.11
pandas==2.2.2
planetary-computer==1.0.0
pystac==1.11.0
pystac-client==0.8.5
rioxarray==0.18.1
scikit-learn==1.5.2
Shapely==2.0.6
xarray==2025.1.0
netCDF4 == 1.7.2
